{% extends 'base.html' %}
{% load static %}
{% block title %}Menu{% endblock title %}
{% block content %}


  <!-- fruit section -->

  <section class="fruit_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <hr>
        <h2>
          {{category.category}}
        </h2>
      </div>
    </div>
    <div class="container-fluid">

      <div class="fruit_container">
        {% for i in food_items %}
        <div class="box" style='border: 1px solid #E8E2E2; padding: 12px 8px; border-radius: 5px;' >
          <center>
            <div class='wrapper' style="
            width: 300px;
            height: 250px;
            background-image: url({{i.picture.url}});
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            ">
                   {% comment %} <img src={{i.picture.url}} alt=""> {% endcomment %}
        </div>
          </center>

   
          <div class="new_box">
            <h5 class='mt-3'>
              {{i.name}}
            </h5>
            <p>{{i.about}}</p>
            <p>Price: {{i.price}}$</p>
            <div class='count d-flex'>
              <button class='form-control ' id='sub-btn'>-</button>
              <input class='form-control product-count-input' id='product-count' value=0></input>
              <button class='form-control' id='add-btn'>+</button>
            </div>
            <button class='bg-success form-control mt-2' style='color: white;' >Add to basket</button>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </section>

  <!-- end fruit section -->


  <script>
    const countInputs = document.querySelectorAll('.product-count-input');

    countInputs.forEach((input) => {
      const addBtn = input.nextElementSibling;
      const subBtn = input.previousElementSibling;

      addBtn.addEventListener('click', () => {
        const currentCount = parseInt(input.value);
        if (currentCount <100){
            input.value = currentCount + 1;
        }
      });

      subBtn.addEventListener('click', () => {
        const currentCount = parseInt(input.value);
        if (currentCount > 0) {
          input.value = currentCount - 1;
        }
      });
    });
</script>

{% endblock content %}
